<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>
	 <IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin 'https://www.aboutpakistan.com'
    </IfModule>

    RewriteEngine On

	# Prevent directory listings
	Options All -Indexes
	
	# Prevent viewing of .htaccess file
	<Files .htaccess>
	Require all denied
	</Files>

	<Files .env>
	   Require all denied
	</Files>

	<Files composer.json>
	   Require all denied
	</Files>
	
	<Files web.config>
	   Require all denied
	</Files>

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>