
.modal-open {
    padding-right: 0 !important;
}
html {
    overflow-y: scroll !important;
}
body {
    font-size: .80rem;
    background-color: #eee;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}

.form-control.form-control-sm {
    font-size: .75rem;
}

.custom-control-label.custom-control-label-sm {
    font-size: 1rem;
}

.custom-select-sm,
.col-form-label-sm {
    font-size: inherit;
}

.blog-detail h3,
.blog-detail h4 {
    line-height: 1.6;
}

.property-id {
    border-radius: 10px;
    border: #555 1px solid;
    width: 150px;
    text-transform: uppercase;
    font-size: 12px
}


/* Select2 start */

.select2-container--default .select2-selection--single {
    display: inline-block;
    width: 100%;
    height: calc(1.8125rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center;
    background-size: 8px 10px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: inherit;
    line-height: inherit;
    padding-left: 0;
    padding-right: 0;
}

.select2-container--bootstrap4 .select2-selection {
    border: 0 !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: none !important;
    /*border-radius: 4px;*/
}

.index-page-select {
    padding-top: 15px;
    padding-left: 5px;
    text-align: left;
    position: relative;
    font-weight: 800;
    font-size: 14px;
}

.index-page-text-area {
    border: 0 !important;
    width: 100%;
    padding: 14px 0 0 9px !important;
    min-height: 54px;
    font-size: 14px;
}

.search2-index-page-text-area {
    border: 0 !important;
    width: 100%;
    padding: 0 0 0 9px !important;
    min-height: 36px;
    font-size: 14px;
}

.reset-search {
    color: white;
    font-size: 12px;
    font-weight: 600
}

.reset-search-btn {
    margin: 0 0 0 10px;
    padding: 4px 12px;
    border-color: rgb(39, 74, 187) !important;
}

.reset-search-btn:hover {
    background-color: rgb(39, 74, 187) !important;
    border-color: rgb(39, 74, 187) !important;
}

.search2-reset-btn {
    margin-top: 10px;
    cursor: pointer;
    padding: 11px 26px;
    background: #274abb;
    letter-spacing: 1px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    color: #FFF;
    transition: .5s;
    border-radius: 3px;
    border: none;
    width: 100%;
    outline: none;
}

.input-label {
    color: rgb(85, 85, 85) !important;
    font-size: 11px;
    text-align: left;
    padding-left: 12px;
    padding-top: 6px;
}

.search2-input-label {
    color: rgb(85, 85, 85) !important;
    font-size: 11px;
    padding-left: 2px;
    margin-bottom: 0;
}

.label-container {
    position: absolute;
    z-index: 999;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    display: none;
}

.select2-container--default .select2-selection--multiple,
.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: 1px solid #ced4da;
}

[lang=ar] .select2-results {
    text-align: right;
    direction: rtl;
}


/* Select2 end */

#sidebar-property-management .card-header+.list-group .list-group-item:first-child,
#sidebar-property-management .card-header+.list-group .list-group-item:last-child,
#accordionListings .card,
#accordionListings .card-header:first-child {
    border-radius: 0;
}

#property_management .card-header a,
#property_management .list-group-item a,
#sidebar-property-management .card-header a,
#sidebar-property-management .list-group-item a {
    display: block;
}

#listings-tab.nav-pills .nav-link {
    border-radius: 0;
}

.option-bar .float-left {
    display: none;
}

@media screen and (max-width: 575px) {
    .input-select-on-small-screen {
        margin-top: 10px;
    }
}

@media screen and (min-width: 380px) {
    .option-bar .float-left {
        display: block;
    }
}

.foot-copy {
    float: left;
    font-size: .7rem;
    color: #777 !important;
}

.footer-menu-inline-list {
    padding: 10px 0;
    cursor: pointer;
    float: right;
}

.footer-inline-ul li {
    text-decoration: none;
    color: #555 !important;
    margin-right: 15px;
}

.footer-inline-ul li a {
    text-decoration: none;
    color: #555 !important;
    font-size: .7rem !important;
}

.featured-agencies {
    font-size: 10px;
}

.footer-logo {
    line-height: 0;
    margin-bottom: 20px;
    width: 100%;
}

.featured-agency-image {
    width: 55px;
    height: 55px;
    object-fit: none;
    display: block;
    border: .1rem solid #000;
    margin-top: .8rem !important;
}

.top-cities-container {
    height: 18rem;
    width: 15rem;
    /*position: absolute;*/
    right: 2.5rem;
    top: 2rem;
    z-index: 1;
    background-color: #fff;
    background-color: hsla(0, 0%, 100%, .9);
    border: .1rem solid #ccc;
    border-radius: .2rem;
    overflow: scroll;
}

.top-cities-title {
    margin-top: 1rem;
    text-align: center;
    color: black !important;
}

.data {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 3rem;
    color: black;
    line-height: 1rem;
}

.cities-content {
    overflow: hidden;
}

.Subscribe-box form .form-contact {
    width: 100%;
    height: 40px;
    padding: 10px 10px;
    border-radius: .25rem;
    color: #555;
    border: 1px solid #d4d2d2;
    font-size: 15px;
    outline: none;
}

.premium-badge {
    background-color: #595955;
    padding: 7px 4px;
    text-align: center;
    font-size: .7rem;
}

.contact-agent-input::placeholder {
    text-align: right;
}

.agency-panel {
    background-color: white !important;
    border: solid 1px #e6e6e6 !important;
    border-bottom: 0 !important;
}

.agency-panel .agency-panel-title {
    color: black;
}

.valid-feedback {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #38c172;
}

.valid-tooltip {
    position: absolute;
    top: 100%;
    z-index: 5;
    display: none;
    max-width: 100%;
    padding: 0.25rem 0.5rem;
    margin-top: 0.1rem;
    font-size: 0.7875rem;
    line-height: 1.6;
    color: #fff;
    background-color: rgba(56, 193, 114, 0.9);
    border-radius: 0.25rem;
}

.text-transform {
    text-transform: capitalize !important;
}

.was-validated :valid~.valid-feedback,
.was-validated :valid~.valid-tooltip,
.is-valid~.valid-feedback,
.is-valid~.valid-tooltip {
    display: block;
}

.was-validated .form-control:valid,
.form-control.is-valid {
    border-color: #38c172;
    padding-right: calc(1.6em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%2338c172' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.4em + 0.1875rem) center;
    background-size: calc(0.8em + 0.375rem) calc(0.8em + 0.375rem);
}

.was-validated .form-control:valid:focus,
.form-control.is-valid:focus {
    border-color: #38c172;
    box-shadow: 0 0 0 0.2rem rgba(56, 193, 114, 0.25);
}

.was-validated textarea.form-control:valid,
textarea.form-control.is-valid {
    padding-right: calc(1.6em + 0.75rem);
    background-position: top calc(0.4em + 0.1875rem) right calc(0.4em + 0.1875rem);
}

.was-validated .custom-select:valid,
.custom-select.is-valid {
    border-color: #38c172;
    padding-right: calc(0.75em + 2.3125rem);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px, url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%2338c172' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e") #fff no-repeat center right 1.75rem/calc(0.8em + 0.375rem) calc(0.8em + 0.375rem);
}

.was-validated .custom-select:valid:focus,
.custom-select.is-valid:focus {
    border-color: #38c172;
    box-shadow: 0 0 0 0.2rem rgba(56, 193, 114, 0.25);
}

.was-validated .form-check-input:valid~.form-check-label,
.form-check-input.is-valid~.form-check-label {
    color: #38c172;
}

.was-validated .form-check-input:valid~.valid-feedback,
.was-validated .form-check-input:valid~.valid-tooltip,
.form-check-input.is-valid~.valid-feedback,
.form-check-input.is-valid~.valid-tooltip {
    display: block;
}

.was-validated .custom-control-input:valid~.custom-control-label,
.custom-control-input.is-valid~.custom-control-label {
    color: #38c172;
}

.was-validated .custom-control-input:valid~.custom-control-label::before,
.custom-control-input.is-valid~.custom-control-label::before {
    border-color: #38c172;
}

.was-validated .custom-control-input:valid:checked~.custom-control-label::before,
.custom-control-input.is-valid:checked~.custom-control-label::before {
    border-color: #5cd08d;
    background-color: #5cd08d;
}

.was-validated .custom-control-input:valid:focus~.custom-control-label::before,
.custom-control-input.is-valid:focus~.custom-control-label::before {
    box-shadow: 0 0 0 0.2rem rgba(56, 193, 114, 0.25);
}

.was-validated .custom-control-input:valid:focus:not(:checked)~.custom-control-label::before,
.custom-control-input.is-valid:focus:not(:checked)~.custom-control-label::before {
    border-color: #38c172;
}

.was-validated .custom-file-input:valid~.custom-file-label,
.custom-file-input.is-valid~.custom-file-label {
    border-color: #38c172;
}

.was-validated .custom-file-input:valid:focus~.custom-file-label,
.custom-file-input.is-valid:focus~.custom-file-label {
    border-color: #38c172;
    box-shadow: 0 0 0 0.2rem rgba(56, 193, 114, 0.25);
}

.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #e3342f;
}

.invalid-tooltip {
    position: absolute;
    top: 100%;
    z-index: 5;
    display: none;
    max-width: 100%;
    padding: 0.25rem 0.5rem;
    margin-top: 0.1rem;
    font-size: 0.7875rem;
    line-height: 1.6;
    color: #fff;
    background-color: rgba(227, 52, 47, 0.9);
    border-radius: 0.25rem;
}

.was-validated :invalid~.invalid-feedback,
.was-validated :invalid~.invalid-tooltip,
.is-invalid~.invalid-feedback,
.is-invalid~.invalid-tooltip {
    display: block;
}

.was-validated .form-control:invalid,
.form-control.input-text.is-invalid {
    border-color: #e3342f;
    padding-right: calc(1.6em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23e3342f' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23e3342f' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.4em + 0.1875rem) center;
    background-size: calc(0.8em + 0.375rem) calc(0.8em + 0.375rem);
}

.was-validated .form-control:invalid:focus,
.form-control.input-text.is-invalid:focus {
    border-color: #e3342f;
    box-shadow: 0 0 0 0.2rem rgba(227, 52, 47, 0.25);
}

.was-validated textarea.form-control:invalid,
textarea.form-control.is-invalid {
    padding-right: calc(1.6em + 0.75rem);
    background-position: top calc(0.4em + 0.1875rem) right calc(0.4em + 0.1875rem);
}

.was-validated .custom-select:invalid,
.custom-select.is-invalid {
    border-color: #e3342f;
    padding-right: calc(0.75em + 2.3125rem);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px, url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23e3342f' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23e3342f' stroke='none'/%3e%3c/svg%3e") #fff no-repeat center right 1.75rem/calc(0.8em + 0.375rem) calc(0.8em + 0.375rem);
}

.was-validated .custom-select:invalid:focus,
.custom-select.is-invalid:focus {
    border-color: #e3342f;
    box-shadow: 0 0 0 0.2rem rgba(227, 52, 47, 0.25);
}

.was-validated .form-check-input:invalid~.form-check-label,
.form-check-input.is-invalid~.form-check-label {
    color: #e3342f;
}

.was-validated .form-check-input:invalid~.invalid-feedback,
.was-validated .form-check-input:invalid~.invalid-tooltip,
.form-check-input.is-invalid~.invalid-feedback,
.form-check-input.is-invalid~.invalid-tooltip {
    display: block;
}

.was-validated .custom-control-input:invalid~.custom-control-label,
.custom-control-input.is-invalid~.custom-control-label {
    color: #e3342f;
}

.was-validated .custom-control-input:invalid~.custom-control-label::before,
.custom-control-input.is-invalid~.custom-control-label::before {
    border-color: #e3342f;
}

.was-validated .custom-control-input:invalid:checked~.custom-control-label::before,
.custom-control-input.is-invalid:checked~.custom-control-label::before {
    border-color: #e9605c;
    background-color: #e9605c;
}

.was-validated .custom-control-input:invalid:focus~.custom-control-label::before,
.custom-control-input.is-invalid:focus~.custom-control-label::before {
    box-shadow: 0 0 0 0.2rem rgba(227, 52, 47, 0.25);
}

.was-validated .custom-control-input:invalid:focus:not(:checked)~.custom-control-label::before,
.custom-control-input.is-invalid:focus:not(:checked)~.custom-control-label::before {
    border-color: #e3342f;
}

.was-validated .custom-file-input:invalid~.custom-file-label,
.custom-file-input.is-invalid~.custom-file-label {
    border-color: #e3342f;
}

.was-validated .custom-file-input:invalid:focus~.custom-file-label,
.custom-file-input.is-invalid:focus~.custom-file-label {
    border-color: #e3342f;
    box-shadow: 0 0 0 0.2rem rgba(227, 52, 47, 0.25);
}

.custom-amenities {
    list-style-type: none;
    overflow: hidden;
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
}

.custom-amenities li {
    font-size: 13px !important;
}


/*.custom-amenities {*/


/*    font-weight: 400;*/


/*}*/


/*.custom-amenities ul {*/


/*    margin: 0;*/


/*    padding: 0;*/


/*    list-style: none;*/


/*}*/


/*.custom-amenities li {*/


/*    font-size: 14px !important;*/


/*    display: block;*/


/*    width: 33.3%;*/


/*    float: left;*/


/*}*/


/*.custom-amenities-heading {*/


/*    font-size: 14px !important;*/


/*    padding: 1rem;*/


/*    border-right: 1px solid #6c757d;*/


/*}*/

.li-detail-page a {
    color: white;
    font-weight: bold;
}

.li-detail-page a:hover {
    color: #525252;
    font-weight: bold;
}

.property-box .grid-view-facilities li {
    list-style: none;
    /*width: 33.33%;*/
    width: 100%;
    float: left;
    font-weight: 400;
    line-height: 32px;
    font-size: 14px;
    color: #666;
}

.container {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
}

.feature-tag {
    position: absolute;
    /*top: 15px;*/
    /*left: 15px;*/
    z-index: 20;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    background: #c32a2a;
    color: rgb(255, 255, 255);
    padding: 5px 10px 5px;
    font-weight: 500;
    /*border-radius: 3px 3px 3px 0;*/
}

.main-page-banner-heading {
    color: white;
    font-size: 30px;
}

.detail-page-search-options {
    padding-right: 15px;
    padding-left: 15px;
}

.detail-page-banner {
    background: #444444;
    margin-bottom: 10px;
    border: 1px solid #444444;
    padding-top: 12px;
    padding-bottom: 12px;
}

.login-dropdown {
    border-radius: 8px;
    width: 15rem;
    padding: 0;
    margin: -1px;
    font-size: 13px;
    color: #212529;
    border: 1px solid darkgray !important;
}

.login-btn {
    padding: 13px 20px 9px 20px;
    font-weight: 600;
    text-transform: uppercase;
    background: #274abb;
    color: #FFF !important;
    cursor: pointer;
    border-radius: 3px;
}

.login-btn:hover {
    background: #274abb !important;
}

.property-box-2 .facilities-list-custom li {
    width: 25%;
    float: left;
    font-size: 14px;
    line-height: 35px;
    font-weight: 400;
}

.sign-in:hover {
    border: solid 1px #274abb !important;
    background: white;
    /*color: #fff;*/
}

.font-weight-800 {
    font-weight: 800;
}

.font-size-14 {
    font-size: 14px;
}

.border-right {
    border-right: 1px solid #ced4da;
}

.width-border {
    width: 100% !important;
    border: 0 !important;
}

.color-555 {
    color: #555;
}

.select2-purpose {
    padding: 0;
    font-weight: 800;
    font-size: 14px;
}

.search-location {
    border: 1px solid white !important;
    border-radius: 4px;
}

.search2-btn {
    background-color: #274abb;
    border-radius: 3px;
}

.padding-5 {
    text-align: center;
    padding: 5px 5px;
}

.color-white {
    color: white;
}

.color-black {
    color: black;
}

.color-red {
    color: red;
}

.custom-hr {
    margin-top: .5rem !important;
    margin-bottom: .5rem !important;
}

.agency-name {
    font-size: 14px !important;
    font-weight: bold !important;
}

.font-16 {
    font-size: 16px;
}

.font-12 {
    font-size: 12px !important;
}

.font-20 {
    font-size: 20px;
}

.custom-font {
    color: #555 !important;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.property-detail-title {
    margin-top: 0 !important;
    font-weight: 600 !important;
    font-size: 25px !important;
}


/*from default.css*/

.search-options-btn,
.search-options-btn:hover {
    background: #274abb;
}

.button-theme {
    background: #274abb;
}


/*media queries*/

@media (max-width: 770px) {
    .properties-details-page iframe,
    .modal-body iframe .element.style {
        height: 350px;
        /*height: 450px;*/
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1150px;
    }
    /*.call-email-container {*/
    /*    margin-top: 55px;*/
    /*}*/
    .show-advance-search-options {
        margin-left: 45px !important
    }
}

@media (max-width: 1199px) {
    .show-advance-search-options {
        margin-left: 0 !important
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .container {
        max-width: 960px;
    }
    .grid-area {
        display: none !important;
    }
    .area-md {
        width: 100% !important;
        text-align: center !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .container {
        max-width: 540px;
    }
}


/*media query for call email btn on single list page*/

@media (max-width: 992px) {
    .call-email-container {
        margin-top: 23px;
    }
}

@media (max-width: 768px) {
    .detail-page-similar-properties {
        margin-top: 250px !important;
    }
}

footer {
    padding-top: 0px;
}

.foot-info-text p {
    color: #777;
    font-size: 14px;
    line-height: 18px;
}

.foot-soc .pr-15 {
    color: #777;
}

.property-price {
    color: #777;
}

nav.main-menu-wrap ul li a,
ul.col-tabs li a,
nav.fly-nav-menu ul li a,
.foot-menu .menu li a {
    font-family: 'Montserrat', sans-serif;
}

.banner .banner-slider-inner .btn {
    margin-top: 0px;
    background-color: #274abb;
}

.navbar {
    background-color: #F7F7F7;
    padding: 2px;
}

.nav-link {
    font-size: 15px;
    color: #201b1b !important;
    font-weight: bolder;
}


/* .content-area-12 {
padding-bottom: 0px;
} */

.banner-max-height img {
    max-height: 520px;
}

.span-color {
    color: white;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: grey !important;
}

.fa-user {
    font-size: 1.3em;
}

.fa-mobile {
    font-size: 1.6em;
}

.foot-widget p {
    margin-bottom: 0;
}

#middle-agency-name {
    font-size: 20px;
    font-weight: 200;
    padding-top: 30px;
}

#sale-count,
#agency-phone {
    font-weight: 100;
    font-size: 15px;
}

.top-style-prev {
    left: -52px;
}

.top-style-next {
    right: -52px;
}

.tooltip-inner {
    max-width: 600px !important;
    background-color: #444444;
}

.tool-image {
    width: 100px;
    height: 100px;
}

.our-services {
    background-color: #00BCD4;
    padding: 70px 0px;
}

.service-box {
    background-color: #fff;
    padding: 15px 10px;
    border-radius: 8px;
    margin: 0;
    transition: 0.5s;
    border: 1px solid transparent;
}

.service-box:hover {
    background-color: #f9f9f9;
    border-radius: 40px;
    border: 1px solid #ddd;
}

.service-box:hover h3 a {
    color: #00bcd4;
}

.service-box .fa-map-marker {
    color: red;
}

.service-box .fa-phone {
    color: blue;
}

.service-box .fa-2x {
    font-size: 1.5em;
}

.service-box h4 a {
    text-decoration: none;
    font-size: 12px;
}

.service-box :before {
    margin: 0 auto;
    display: block;
    float: none;
}

.partners .slick-next {
    right: 435px;
}

.partners .slick-prev {
    left: 435px;
}


/* .partners .slick-slide-item img:hover {
width: 60%;
height: 60%
} */

.item-height-gap {
    margin-bottom: -6px;
}

.arrow-line-height {
    line-height: 41px;
}

.top-style {
    top: 46% !important;
}

.color-blue {
    color: #274abb
}

.partners .slick-slide-item img {
    padding-top: 15%;
    padding-bottom: 15%;
}

.partners .slick-center img {
    width: 85%;
    height: 85%;
    padding-top: 0%;
    padding-bottom: 0%;
    box-shadow: 0px 0px 15px #8e8484;
    -moz-box-shadow: 0px 0px 15px #8e8484;
    -webkit-box-shadow: 0px 0px 15px #8e8484;
    -khtml-box-shadow: 0px 0px 15px #8e8484;
}

footer {
    padding-top: 0px !important;
}

@media (min-width: 993px) and (max-width: 1199px) {
    .partners .slick-next {
        right: 357px;
    }
    .partners .slick-prev {
        left: 357px;
    }
}

.service-box p {
    font-size: 12px;
}

@media (min-width: 320px) and (max-width: 425px) {
    #featured-agency-slider .slick-next {
        right: -4px;
        margin-top: 15px;
        width: 25px;
        height: 25px;
    }
    #featured-agency-slider .slick-prev {
        left: -4px;
        margin-top: 15px;
        width: 25px;
        height: 25px;
    }
    .partners .slick-next {
        right: 26%;
        width: 25px;
        height: 25px;
    }
    .partners .slick-prev {
        left: 26%;
        width: 25px;
        height: 25px;
    }
    .service-box {
        margin-left: 10%;
        margin-right: 10%;
        border-radius: 0px;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, .5) !important;
    }
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.partners .slick-arrow-buton {
    top: 40%;
}

#featured-agency-slider .slick-slide-item {
    padding: 5px;
}

.partners .slick-arrow-buton {
    top: 40%;
}

.hover-color:hover {
    color: #274abb;
}

@media (min-width: 991px) {
    .sidebar-right {
        margin-top: 32%;
    }
}

.sidebar-right {
    border-radius: .25rem;
}

.option-bar {
    border-radius: .25rem;
    margin-bottom: 1rem;
}

.btn-call {
    border-color: #2238D8;
}

.btn-email {
    background-color: #2238D8;
    color: white !important;
    border-color: #2238D8;
}

.btn-call:hover,
.btn-email:hover {
    background-color: #2238D8;
    color: white !important;
}

.content-area-12 {
    padding: 40px 0 40px;
}

.partners {
    margin-bottom: 0px;
}

footer#foot-wrap {
    margin-top: 0px;
}

.detail-page-banner {
    width: 100%;
    border-radius: 3px;
    z-index: 1030;
    position: fixed;
}

.banner .carousel-content {
    align-self: initial !important;
    margin: 0 auto;
    color: #fff;
    margin-top: 40px;
}

.tag::after {
    border-left: 0px;
}

#popular-cities {
    margin-top: 6%;
    width: 40%;
    height: 150px;
    margin-left: 30%;
    opacity: 0.9
}

#popular-cities .card-header {
    height: 40px;
}

#popular-cities .popular-city-font:hover {
    color: #2238D8;
}

#popular-cities .popular-cities-heading {
    color: black;
    line-height: 0.75rem;
    font-size: 15px;
    font-weight: bold;
}

#popular-city-right {
    right: -27px;
    top: 23%;
}

#popular-city-left {
    left: -27px;
    top: 23%;
}

#popular-cities .slick-arrow-buton {
    background: none;
    box-shadow: 0 0 0;
    width: 36px;
    height: 36px;
    border-radius: 50px;
    color: #333;
    position: absolute;
    z-index: 999;
    text-align: center;
    line-height: 36px;
    cursor: pointer;
    opacity: 1;
}

.popular-city-font {
    font-size: 15px !important;
    line-height: 2.0em;
}

.popular-count-font {
    font-size: 13px !important;
}

@media (max-width: 425px) {
    #popular-cities {
        margin-top: 6%;
        width: 100%;
        height: 150px;
        margin-left: 0%;
        opacity: 0.9
    }
}

.listing-badges .featured {
    background-color: red;
}

.fly-but-wrap,
span.feat-cat,
span.post-head-cat,
.prev-next-text a,
.prev-next-text a:visited,
.prev-next-text a:hover {
    background-color: red;
}


/* .property-box-2 .listing-time {
    background-color: red;
} */

.property-box-2 {
    margin-bottom: 15px;
    border-radius: .25rem;
}

.property-box {
    margin-bottom: 15px;
    border: 2px solid white;
    border-radius: .25rem;
}

.property-box-2 .detail .title {
    margin-bottom: 5px;
}

.property-box-2 .detail .location {
    margin: 0 0 5px;
    font-size: 15px;
    font-weight: 400;
}

.property-description {
    line-height: 1.0rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.agent-description {
    line-height: 1.2rem;
}

.property-title {
    color: #2238D8;
    font-size: 14px;
    font-weight: 600;
}

.property-box-3 {
    border: 2px solid white;
    border-radius: .25rem;
}

.property-box .detail .title {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}

.agency-description-height {
    height: 80px;
}

.property-box-2 .facilities-list li i,
.property-box .detail .location i,
.property-box .facilities-list li i {
    color: #666;
}

.property-box .detail .location {
    margin: 0 0 5px;
}

.alert-info {
    color: white;
    background-color: #444;
    border-color: #444;
}

.color-white {
    color: white;
}

.tooltip-inner {
    width: 250px;
}

@media (min-width: 1024px) {
    .content-area {
        padding-top: 285px;
    }
}

@media (max-width: 992px) {
    .content-area {
        padding: 80px 0 50px;
        padding-top: 0;
    }
}

.all-cities-header {
    font-size: 18px;
    font-weight: 600;
    font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'
}

#fly-wrap {
    z-index: 40000;
}

@media (min-width: 769px) and (max-width: 1199px) {
    .property-box-2 .footer {
        position: relative;
        bottom: 0;
        z-index: 20;
        width: 100%;
    }
}

.feat-top-wrap {
    border-radius: 5px;
}

.title-font {
    font-size: 15px;
    color: #2238D8;
    line-height: 1.2rem;
}

.link-font {
    font-size: 12px;
    color: #2238D8;
    line-height: 1.2rem;
}

.link-font:hover {
    text-decoration: underline;
}

.editable-div {
    height: 105px;
    resize: none;
    cursor: text;
    overflow-wrap: break-word;
    overflow: auto;
}

.email-btn-model {
    background-color: #2238D8;
    color: white !important;
    border-color: #2238D8;
}

.blog-padding {
    padding: 100px 0 70px !important
}
.tag-padding {
    padding: 7px 4px !important;
}
.price-ratings-box, .listing-time {
    background: rgb(0 0 0 / 54%);
    /*background: #444444;*/
}
.property-description a:hover {
    color: #2238D8 !important;
}
.properties-details-page {
    padding-top: 290px !important;
}
.detail-nav-style {
    color: white !important;
}
.detail-nav-style:hover {
    color: black !important;
}
.tabbing-box .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: black !important;
    border-radius: 50px;
    background: #eeeeef;
}
tabbing-box .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover {
    border-radius: 50px;
    background: #eeeeef;
    color: black !important;
}
.nav-pills .nav-link.active, .nav-pills .show >.nav-link {
    color: white !important;
    background-color: #2238D8;
}
#close-icon{
    border-color: #274abb;
}
.detail-tab-style
{
    padding: 5px !important;
    background-color: #444444 !important;
    border-radius: .25rem;

}
.image-padding {
    background-color: white;
    padding: 12%;
    padding-bottom: 0;
}
.price-ratings-box {
    bottom: 0;
    right: 0;
}
.listing-time
{
    right: 0;
    top : 0;

}
.property-box-2 .listing-time {
    top: 0;
}
@media (max-width: 1024px) {
    .record-limit{
        display: none
    }
}
@media (max-width: 768px)
{
.property-box-2 .price-ratings-box {
    right: 15px;
}
.property-box-2 .listing-time {
    right: 15px;
}
}
.tooltip-divider{
    display: inline-block;
    border-bottom: #999999 1px solid;
    width: 60%;
}
